body{
margin:0;
font-family:Arial,sans-serif;
color:#111;
min-height:100vh;

background:
radial-gradient(circle at bottom left,
rgba(255,120,60,0.8) 0%,
rgba(255,120,60,0) 35%),

radial-gradient(circle at bottom right,
rgba(255,120,60,0.8) 0%,
rgba(255,120,60,0) 35%),

linear-gradient(
180deg,
#eef2f7 0%,
#f7f8fb 100%
);

background-attachment:fixed;
}

header{
text-align:center;
padding:25px;

background:rgba(255,255,255,0.55);

backdrop-filter:blur(25px);
-webkit-backdrop-filter:blur(25px);

border:1px solid rgba(255,255,255,0.8);

margin:20px;
border-radius:30px;

box-shadow:0 10px 30px rgba(0,0,0,.08);
}

#search{
width:80%;
padding:15px;

background:rgba(255,255,255,0.12);
border:none;

backdrop-filter:blur(15px);

border-radius:30px;

color:white;
font-size:16px;
outline:none;
}

.gallery{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
padding:20px;
}

.card{
background:rgba(255,255,255,.45);

backdrop-filter:blur(30px);
-webkit-backdrop-filter:blur(30px);

border:1px solid rgba(255,255,255,.8);

border-radius:30px;

overflow:hidden;

box-shadow:0 10px 30px rgba(0,0,0,.08);

transition:.4s;
}

.card img{
width:100%;
height:500px;
object-fit:cover;
display:block;
cursor:pointer;
border-radius:20px 20px 0 0;
}

.card a{
display:block;
padding:14px;
text-align:center;

background:linear-gradient(
90deg,
#ff7a3d,
#ff5a36
);

color:white;
font-weight:bold;
text-decoration:none;
}
.categories{
margin-top:15px;
}

.categories button{
padding:12px 20px;

background:rgba(255,255,255,.6);

border:none;

border-radius:30px;

color:#111;

cursor:pointer;

margin:5px;

backdrop-filter:blur(15px);
}

.card{
transition:.3s;
}

.card:hover{
transform:translateY(-8px);
box-shadow:0 10px 30px rgba(0,255,255,.25);
}

.card img{
cursor:pointer;
}

.ads-box{
background:#222;
padding:20px;
margin:20px;
text-align:center;
border-radius:10px;
}

.popup{
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,.95);
justify-content:center;
align-items:center;
z-index:9999;
}

.popup img{
max-width:90%;
max-height:90%;
}

.popup span{
position:absolute;
top:20px;
right:30px;
font-size:30px;
cursor:pointer;
color:white;
}

footer{
text-align:center;
padding:20px;
color:#999;
}

.hero{
margin:20px;

padding:70px 20px;

text-align:center;

background:rgba(255,255,255,.45);

backdrop-filter:blur(30px);

border-radius:35px;

box-shadow:0 10px 30px rgba(0,0,0,.08);
}

.hero h2{
font-size:35px;
margin-bottom:10px;
}

.hero p{
color:#aaa;
margin-bottom:20px;
}

.hero-btn{
background:#00c853;
padding:12px 25px;
border-radius:30px;
text-decoration:none;
color:white;
font-weight:bold;
}

.hero-btn:hover{
opacity:.8;
}

.categories button{
background:#333;
color:white;
}

.categories button:hover{
background:#00c853;
}

footer{
text-align:center;
padding:20px;
margin-top:20px;
background:#222;
}

footer a{
color:white;
text-decoration:none;
margin:0 10px;
}

h1,h2,h3,p{
color:#111;
}
